@font-face {
  font-family: "Karla";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Karla-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Karla";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("assets/fonts/Karla-Bold.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
p,
fieldset,
legend,
textarea {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --green-600: hsl(169 82% 27%);
  --green-200: hsl(148 38% 91%);
  --grey-900: hsl(187 24% 22%);
  --grey-500: hsl(186 15% 59%);
  --blue: hsl(228 45% 44%);
  --red: hsl(0 66% 54%);
  --white: hsl(0 0% 100%);
  --gradient: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    var(--green-600);
  --radius-s: 0.5rem;
  --radius-m: 0.75rem;
  --radius-l: 1rem;
  --stroke-width: 1px;
  --stroke-solid: var(--stroke-width) solid var(--grey-500);
  --stroke-bold: inset 4px solid var(--grey-500);
  --stroke-hover: var(--stroke-width) solid var(--green-600);
  --stroke-focus: var(--stroke-width) dotted currentColor;
  --stroke-error: var(--stroke-width) solid var(--red);
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1600: 8rem;
  --font-base: "Karla", sans-serif;
  --leading-none: 1;
  --leading-standard: 1.5;
  --text-heading: 700 2rem var(--font-base);
  --text-md-bold: 700 1.125rem var(--font-base);
  --text-md: 400 1.125rem var(--font-base);
  --text-sm: 400 1rem var(--font-base);
}

body {
  background-color: var(--green-200);
  font: var(--text-sm);
  line-height: var(--leading-standard);
  min-height: 100vh;
  position: relative;
}

h1 {
  color: var(--grey-900);
  font: var(--text-heading);
  letter-spacing: -1px;
  line-height: var(--leading-none);
}

h2 {
  font: var(--text-md-bold);
  line-height: var(--leading-standard);
}

p {
  color: var(--grey-900);
  font: var(--text-sm);
  line-height: var(--leading-standard);
}

a {
  text-decoration: underline;
  color: currentColor;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

a:focus {
  outline: 1px dotted currentColor;
  outline-offset: 2px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact-form {
  background-color: var(--white);
  border-radius: var(--radius-l);
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-300);
  margin-inline: auto;
  max-width: 21.4375rem;
}
.contact-form fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
.contact-form legend {
  margin-block-end: var(--spacing-400);
  width: 100%;
}
.contact-form label {
  display: flex;
  gap: var(--spacing-100);
  align-items: center;
  margin-block-end: var(--spacing-100);
}
.contact-form input,
.contact-form textarea {
  border: var(--stroke-solid);
  border-radius: var(--radius-s);
  cursor: pointer;
  font: var(--text-md);
  line-height: var(--leading-standard);
  padding-block-start: var(--spacing-150);
  padding-block-end: var(--spacing-150);
  padding-inline: var(--spacing-300);
  width: 100%;
}
.contact-form textarea {
  height: 15rem;
  resize: none;
}
@media (min-width: 48rem) {
  .contact-form textarea {
    max-height: 8.25rem;
  }
}
@media (min-width: 75rem) {
  .contact-form textarea {
    max-height: 6.5625rem;
  }
}
.contact-form .form__input-wrapper input:hover,
.contact-form .form__input-wrapper textarea:hover {
  border: var(--stroke-hover);
}
.contact-form .form__input-wrapper p {
  margin-block-start: var(--spacing-100);
}
.contact-form .form__input:invalid:where([aria-invalid=true]) {
  border: var(--stroke-error);
}
.contact-form .form__error-message {
  color: var(--red);
}
.contact-form .form__name-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: var(--spacing-300);
}
@media (min-width: 48rem) {
  .contact-form .form__name-group {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-200);
  }
}
.contact-form .form__radio-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: var(--spacing-200);
}
.contact-form .form__radio-group p:first-child {
  display: flex;
  gap: var(--spacing-100);
  align-items: center;
}
@media (min-width: 48rem) {
  .contact-form .form__radio-group p:first-child {
    grid-column: 1/-1;
  }
}
@media (min-width: 48rem) {
  .contact-form .form__radio-group {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-200);
  }
}
.contact-form .radio-btn__input {
  border: var(--stroke-solid);
  border-radius: var(--radius-s);
  cursor: pointer;
}
.contact-form .radio-btn__input:hover {
  border: var(--stroke-hover);
}
.contact-form .radio-btn__input input[type=radio] {
  margin: 0;
}
.contact-form .radio-btn__input p {
  display: flex;
  gap: var(--spacing-100);
  margin-block-end: 0;
}
.contact-form .radio-btn__label {
  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;
  column-gap: var(--spacing-150);
  cursor: pointer;
  font: var(--text-md);
  line-height: var(--leading-standard);
  margin-block-end: 0;
  padding-block: var(--spacing-150);
  padding-inline: var(--spacing-300);
}
.contact-form .radio-btn__label input {
  appearance: none;
  background-color: var(--white);
  border: 1.5px solid var(--grey-500);
  border-radius: 50%;
  height: 1.125rem;
  padding: 0;
  width: 1.125rem;
  display: grid;
  place-items: center;
}
.contact-form .radio-btn__label input::before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: var(--green-600);
  opacity: 0;
}
.contact-form .radio-btn__label input:checked::before {
  opacity: 1;
}
.contact-form .radio-btn__label input:checked {
  background-color: var(--green-200);
  border-color: var(--green-600);
  transition: all 0.1s ease-in-out;
}
.contact-form .radio-btn__input:has(input[type=radio]:checked) {
  background-color: var(--green-200);
  border-color: var(--green-600);
  transition: all 0.1s ease-in-out;
}
.contact-form .radio-btn__input:has(input[type=radio]:checked) label {
  color: var(--green-900);
}
.contact-form .form__checkbox-group {
  color: var(--green-600);
  margin-block-start: var(--spacing-200);
  margin-block-end: var(--spacing-200);
  position: relative;
}
.contact-form .form__checkbox-group p {
  margin-block-start: var(--spacing-100);
}
.contact-form input[type=checkbox] {
  appearance: none;
  background-color: var(--white);
  border: 1.5px solid var(--grey-500);
  border-radius: 0.15em;
  height: 1.125rem;
  width: 1.125rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
.contact-form input[type=checkbox]:hover {
  border-color: var(--green-600);
}
.contact-form input[type=checkbox]:checked {
  background-color: var(--white);
  border-color: var(--green-600);
  transition: all 0.1s linear;
}
.contact-form .custom-checkbox svg {
  color: transparent;
  cursor: pointer;
  position: absolute;
  left: -0.1875rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.1s ease-in-out;
}
.contact-form .checkbox__label {
  color: var(--grey-900);
  cursor: pointer;
  margin-inline-start: calc(24px + var(--spacing-200));
  margin-block-end: 0;
}
.contact-form .custom-checkbox:has(input[type=checkbox]:checked) svg {
  color: var(--green-600);
}
.contact-form button {
  background-color: var(--green-600);
  border: none;
  border-radius: var(--radius-s);
  color: var(--white);
  cursor: pointer;
  font: var(--text-md-bold);
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-500);
  width: 100%;
}
.contact-form button:hover {
  background: var(--gradient);
  transition: 0.25s ease-in;
}
@media (min-width: 48rem) {
  .contact-form {
    padding-block: var(--spacing-500);
    padding-inline: var(--spacing-500);
    max-width: 43.125rem;
  }
}
@media (min-width: 75rem) {
  .contact-form {
    max-width: 46rem;
  }
}

.toast-success {
  background-color: var(--grey-900);
  border-radius: var(--radius-m);
  color: var(--white);
  max-width: 20.4375rem;
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-300);
  position: absolute;
  top: 5.5rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
@media (min-width: 48rem) {
  .toast-success {
    max-width: 28.125rem;
    top: 5rem;
  }
}

.toast__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-100);
  margin-block-end: var(--spacing-100);
}
.toast__heading img {
  height: 1.5rem;
  width: 1.5rem;
}

.toast__body {
  color: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-inline: var(--spacing-200);
}

.form-wrapper {
  padding-block-start: var(--spacing-400);
  padding-block-end: var(--spacing-400);
  padding-inline: var(--spacing-200);
  position: relative;
  width: 100vw;
}
@media (min-width: 48rem) {
  .form-wrapper {
    padding-block-start: var(--spacing-1600);
    padding-inline: var(--spacing-500);
  }
}

main {
  position: relative;
}

.main-footer p {
  text-align: center;
}
