// ___________________________________________________________________
// Form Styles
// ___________________________________________________________________

.contact-form {
  background-color: var(--white);
  border-radius: var(--radius-l);
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-300);
  margin-inline: auto;
  max-width: 21.4375rem;

  legend {
    margin-block-end: var(--spacing-400);
    width: 100%;
  }

  label {
    display: flex;
    gap: var(--spacing-100);
    align-items: center;
    margin-block-end: var(--spacing-100);
  }

  input,
  textarea {
    border: var(--stroke-solid);
    border-radius: var(--radius-s);
    cursor: pointer;
    font: var(--text-md);
    padding-block-start: var(--spacing-150);
    padding-block-end: var(--spacing-150);
    padding-inline: var(--spacing-300);
    width: 100%;
  }

  .form__input-wrapper {
    margin-block-end: var(--spacing-300);
  }

  .form__radio-group {
    margin-block-start: var(--spacing-300);
    margin-block-end: var(--spacing-300);

    p:first-child {
      display: flex;
      gap: var(--spacing-100);
      align-items: center;
      margin-block-end: var(--spacing-200);
    }
  }

  .radio-btn__input {
    border: var(--stroke-solid);
    border-radius: var(--radius-s);
    cursor: pointer;
    margin-block-end: var(--spacing-150);
    padding-block: var(--spacing-150);
    padding-inline: var(--spacing-300);

    &:hover {
      border: var(--stroke-hover);
    }

    input[type='radio'] {
      margin: 0;
    }

    p {
      display: flex;
      gap: var(--spacing-100);
      margin-block-end: 0;
    }
  }

  .radio-btn__label {
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    column-gap: var(--spacing-150);
    cursor: pointer;
    font: var(--text-md);
    margin-block-end: 0;

    input {
      appearance: none;
      background-color: var(--white);
      border: 2px solid var(--grey-500);
      border-radius: 50%;
      height: 1.125rem;
      opacity: 0.6;
      padding: 0;
      width: 1.125rem;

      &:hover {
        border-color: var(--green-600);
        opacity: 1;
      }
    }
  }

  .radio-btn__input:has(input[type='radio']:checked) {
    background-color: var(--green-200);
    border-color: var(--green-600);
    transition: all 0.1s ease-in-out;

    label {
      color: var(--green-900);
    }
  }

  .form__checkbox-group {
    color: var(--green-600);
    margin-block-start: var(--spacing-500);
    margin-block-end: var(--spacing-500);
    position: relative;
  }

  input[type='checkbox'] {
    appearance: none;
    background-color: var(--white);
    border: 2px solid var(--grey-500);
    border-radius: 0.15em;
    height: 1.125rem;
    width: 1.125rem;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
  }

  input[type='checkbox']:checked {
    background-color: var(--white);
    border-color: var(--green-600);
    transition: all 0.1s linear;
  }

  .custom-checkbox svg {
    color: transparent;
    cursor: pointer;
    position: absolute;
    left: -0.1875rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.1s ease-in-out;
  }

  .checkbox__label {
    color: var(--grey-900);
    cursor: pointer;
    margin-inline-start: calc(24px + var(--spacing-200));
    margin-block-end: 0;
  }

  .custom-checkbox:has(input[type='checkbox']:checked) {
    svg {
      color: var(--green-600);
    }
  }

  button {
    background-color: var(--green-600);
    border: none;
    border-radius: var(--radius-s);
    color: var(--white);
    cursor: pointer;
    font: var(--text-md-bold);
    padding-block: var(--spacing-200);
    padding-inline: var(--spacing-500);
    width: 100%;

    &:hover {
      background: var(--gradient);
      transition: 0.25s ease-in;
    }
  }

  @media (min-width: 48rem) {
    padding-block: var(--spacing-500);
    padding-inline: var(--spacing-500);
    max-width: 43.125rem;
  }

  @media (min-width: 75rem) {
    max-width: 46rem;
  }
}
