// ___________________________________________________________________
// Form Styles
// ___________________________________________________________________

.contact-form {
  background-color: var(--white);
  border-radius: var(--radius-l);
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-300);
  margin-inline: auto;
  max-width: 21.4375rem;

  legend {
    margin-block-end: var(--spacing-400);
    width: 100%;
  }

  label {
    display: flex;
    gap: var(--spacing-100);
    align-items: center;
    margin-block-end: var(--spacing-100);
  }

  input,
  textarea {
    border: var(--stroke-solid);
    border-radius: var(--radius-s);
    font: var(--text-md);
    padding-block-start: var(--spacing-150);
    padding-block-end: var(--spacing-150);
    padding-inline: var(--spacing-300);
    width: 100%;
  }

  .form__input-wrapper {
    margin-block-end: var(--spacing-300);
  }

  .form__radio-group {
    margin-block-start: var(--spacing-300);
    margin-block-end: var(--spacing-300);

    p:first-child {
      display: flex;
      gap: var(--spacing-100);
      align-items: center;
      margin-block-end: var(--spacing-200);
    }
  }

  .radio-btn__input {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;

    p {
      display: flex;
      gap: var(--spacing-100);
      margin-block-end: 0;
    }
  }

  .form__checkbox-group {
    display: grid;
    grid-template-columns: 1.5rem auto;
    gap: var(--spacing-200);
    margin-block-start: var(--spacing-500);
    margin-block-end: var(--spacing-500);
  }

  @media (min-width: 48rem) {
    padding-block: var(--spacing-500);
    padding-inline: var(--spacing-500);
    max-width: 43.125rem;
  }

  @media (min-width: 75rem) {
    padding-block: var(--spacing-500);
    padding-inline: var(--spacing-500);
    max-width: 46rem;
  }
}
